repos:
  - repo: https://github.com/ambv/black
    rev: 21.10b0
    hooks:
      - id: black
        language_version: python3.9
        args: ['--check', "."]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies: [
            flake8-blind-except,
            flake8-bugbear,
            flake8-comprehensions,
            flake8-debugger,
            flake8-docstrings,
            flake8-isort,
            flake8-polyfill,
            flake8-pytest,
            flake8-quotes,
            yesqa,
        ]
        language_version: python3.9
        args: ['--config=.flake8']
  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.20
    hooks:
      - id: isort
        language_version: python3.9
        args: ['--check']
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.901
#    hooks:
#      - id: mypy
#        language_version: python3.9
#        args: ['.']
  - repo: https://github.com/jendrikseipp/vulture
    rev: "v2.3"
    hooks:
      - id: vulture
        language_version: python3.9
        args: ['.', '--exclude', 'venv,.venv,env,tests', '--min-confidence', '90']